<div id="header-user-notification">
    {% if notifications %}
    <div id="header-user-notification-click" class="noselect">
        <i class="fas fa-bell"></i>
        <span class="user-notification-count">{{number}}</span>
    </div><!-- close #header-user-profile-click -->
    {% else %}
    <div id="header-user-notification-click" class="noselect">
        <i class="far fa-bell"></i>
        <span class="user-notification-count">0</span>
    </div><!-- close #header-user-profile-click -->
    {% endif %}

    <div id="header-user-notification-menu" class="notifications-box">
        <h3>Notifications</h3>
        <div id="header-notification-menu-padding">
            {% if notifications %}
            <div id="header-user-notification-list notifications-section">
                {% for notification in notifications %}
                <div>
                    <img src="{{asset('images/avatar/' ~ notification.origin.imageuser.avatar)}}"
                        class="rounded-circle avatar-notification-size">
                    {{notification.content}} | {{notification.date | date("d/m/y") }}.
                </div>
                <a href="{{path('notif_delete', {'id' : notification.id })}}" class="delete_notif">
                    <button class="btn btn-primary">Vu<i class="fas fa-check"></i></button>
                </a>
                {% endfor %}
            </div>
            <a href="{{path('notif_delete_all')}}"><button class="btn btn-primary delete-all-notifications">Marquez tout
                    comme vu</button></a>
            {% else %}
            <ul id="header-user-notification-list">
                <p class="no-notifications">Aucune notification à afficher</p>
            </ul>
            {% endif %}
            <div class="clearfix"></div>
        </div><!-- close #header-user-profile-menu -->
    </div>
</div><!-- close #header-user-notification -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function onClickAddPlaylist(event) {

        event.preventDefault();

        const url = this.href;

        axios.get(url).then(function () {

            window.location.reload();

        });

    }

    document.querySelectorAll('a.delete_notif').forEach(function (link) {

        link.addEventListener('click', onClickAddPlaylist);
    })
</script>
