<div id="header-user-notification">
    {% if notifications %}
    <div id="header-user-notification-click" class="noselect">
        <i class="fas fa-bell"></i>
        <span class="user-notification-count">{{number}}</span>
    </div><!-- close #header-user-profile-click -->
    {% else %}
    <div id="header-user-notification-click" class="noselect">
        <i class="far fa-bell"></i>
        <span class="user-notification-count">0</span>
    </div><!-- close #header-user-profile-click -->
    {% endif %}
    
    <div id="header-user-notification-menu">
        <h3>Notifications</h3>
        <div id="header-notification-menu-padding">
            {% if notifications %}
            <ul id="header-user-notification-list" style="overflow:auto;">
                {% for notification in notifications %}
                    <li>

                    <a href="#!" style="color:blue"><img src="{{asset('images/avatar/' ~ notification.origin.imageuser.avatar)}}">{{notification.origin.username}} s'est {{notification.content}} | {{notification.date | date("d/m/y") }} <a href="{{path('delete_notif', {'id' : notification.id })}}">Vu <i class="fas fa-check"></i></a></a>        
                        
                    </li>
                {% endfor %}
            </ul>
            <a href="{{path('delete_all_notif')}}"><button class="btn btn-primary">Marquez tout comme vu</button></a>
            {% else %}
            <ul id="header-user-notification-list">
                <p style="text-align:center;margin:5px">Aucune notification à afficher</p>
            </ul>
            {% endif %}
            <div class="clearfix"></div>
        </div><!-- close #header-user-profile-menu -->
    </div>
</div><!-- close #header-user-notification -->
