{% extends 'base.html.twig' %}

{% block title %}Espace administrateur{% endblock %}

{% block body %}

<div class="container">
    {% for message in app.flashes('success') %}
    <div class="alert alert-success" style="margin-top:20px">
        {{message}}
    </div>
    {% endfor %}
    <ul class="dashboard-sub-menu">
        <li><a href="{{path('users_list')}}">Liste des membres</a></li>
        <li class="current"><a href="{{path('notifications_list')}}">Notifications</a></li>
        <li><a href="{{path('videos_background')}}">Vidéos à la une</a></li>
    </ul><!-- close .dashboard-sub-menu -->
    
    {% if notifications | length %}
    <a href="{{path('delete_notifications')}}"><button class="btn btn-primary" style="margin-top:20px">Marquer tout comme vu.</button></a>
    <ul class="list-group" style="margin-top:10px;">
        {% for notification in notifications %}
        <div style='margin-bottom:30px'>
        <li class="list-group-item">Type : {{notification.type}}</li>
        <li class="list-group-item">Message : {{notification.content}}</li>
        <li class="list-group-item">Concerné : {{notification.username}}</li>
        <li class="list-group-item"><a href={{path('delete_notification', {'id' : notification.id})}}><button class="btn btn-primary">Marquer comme vu</button></a></li>
        </div>
        {% endfor %}
        {% else %}
            <h5>Vous n'avez aucune notification pour le moment.</h5>
        {% endif %}
    </ul>
</div>
{% endblock %}