{% extends 'base.html.twig' %}

{% block title %} Gestion des Films {% endblock %}

{% block body %}

<div class="close_admin_video_page"><i class="fas fa-window-close fa-3x"></i></div>
<h3 class="title_admin_video"> Ajoutez une vidéo </h3>

<div class="form_upload_video">
    <div class="progress invisible" id="progress-bar">
        <div class="progress-bar"></div>
    </div>
    <div id="uploadStatus"></div>
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{form_start(form,  {"attr" : {'id':'uploadForm'}})}}

    <div class="form-group">{{form_row(form.videotitle, {"attr" : {'class':'form-control'}})}}</div>
    <div class="form-group">{{form_row(form.videodescription, {"attr" : {'class':'form-control'}})}}</div>
    <div class="form-group">{{form_row(form.videoimage, {"attr" : {'class':'form-control'}})}}</div>
    <div class="form-group">{{form_row(form.videolink, {"attr" : {'class':'form-control'}})}}</div>
    <div class="form-group">{{form_row(form.category, {"attr" : {'class':'form-control'}})}}</div>
    <div class="form-group">{{form_widget(form)}}</div>
    <button type="submit" class="btn btn_video" onclick="changeClass()">Ajouter video</button>
</div>
{{form_end(form)}}
{% endblock %}
