{% extends 'base.html.twig' %}

{% block title %}Gestion des vidéos{% endblock %}

{% block body %}

<div class="container admin-section">
    <ul class="dashboard-sub-menu">
        <li><a href="{{path('users_list')}}">Liste des membres</a></li>
        <li><a href="{{path('notifications_list')}}">Notifications</a></li>
        <li><a href="{{path('videos_background')}}">Vidéos à la une</a></li>
        <li class="current"><a href="{{path('adminspace_videos')}}">Gestion des vidéos</a></li>
    </ul><!-- close .dashboard-sub-menu -->

    {% for message in app.flashes('admin_delete_video') %}
    <div class="alert alert-success admin-delete-video-message">
        {{message}}
    </div>
    {% endfor %}
    <div class="row" id="adminvideos">
        {% for video in videos | slice(0, 21) %}
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-4">
            <div class="item-listing-container-skrn video-card videocard-text">
                <a href="{{path("movie", {"id" : video.id, "idcategory" : video.category.id})}}"><img
                        src="{{asset('images/upload/' ~ video.videoimage)}}" alt="Listing"
                        class="imagemovie img-responsive"></a>
                <div class="item-listing-text-skrn">
                    <div class="item-listing-text-skrn-vertical-align">
                        <h6 class="videolist-title">
                            <a
                                href="{{path("movie", {"id" : video.id, "idcategory" : video.category.id})}}">{{video.videotitle}}</a>
                        </h6>
                        <div class="avatar-position">
                            <img src="{{asset('images/upload/' ~ video.username.imageuser.avatar)}}"
                                class="rounded-circle avatar-height" id="width-avatar">
                            <a href="{{path('channel', {'id': video.username.id})}}"
                                class="link-color">{{video.username.username}}</a> | {% if video.views is not null %}
                            Vues : {{video.views}} {% else %} Aucune vue {% endif %}
                        </div>
                    </div><!-- close .item-listing-text-skrn-vertical-align -->
                </div><!-- close .item-listing-text-skrn -->
                <div class="button-delete-video">
                    <a href="{{path('admin_delete_video', {'id': video.id})}}">
                        <button class="btn btn-primary btn-sm admin_delete_videos">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </a>
                </div>
            </div><!-- close .item-listing-container-skrn -->
        </div><!-- close .col -->
        {% endfor %}
    </div><!-- close .row -->
    <div class="pagination">
        <div class="navigation" id="loadbutton">
            <button class="btn btn-primary" id="loadMoreAdminVideos">Load more</button>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent()}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    click = 0;

    function loadMoreAdminVideos(event) {
        event.preventDefault();
        click++;
        var start = 21 * click;
        const url = "{{path('loadMoreAdminVideos')}}/" + start;
        axios.get(url).then(function (response) {
            $("#adminvideos").append(response.data);
            if (!response.data) {

                let loadButton = document.getElementById("loadbutton");
                loadButton.textContent = 'Plus aucune vidéo à afficher';

            }
        }).catch(function (error) {
            if (response.status === 403) {
                window.alert("You are not authorized to perform this action!");
            } else if (response.status === 404) {
                window.alert("This page does not exist");
            } else {
                window.alert("An error has occurred !");
            }
        });
    }
    document.getElementById("loadMoreAdminVideos").addEventListener("click", loadMoreAdminVideos);
</script>
{% endblock %}