{% extends 'base.html.twig' %}

{% block title %}Espace administrateur{% endblock %}

{% block body %}
    

    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endfor %}
    <div class="container" style="margin-top:50px">
        <ul class="dashboard-sub-menu">
            <li class="current"><a href="dashboard-account.html">Liste des membres</a></li>
            <li><a href="dashboard-account-payment.html">Notifications</a></li>
        </ul><!-- close .dashboard-sub-menu -->
        <table class="table" style="margin-top:20px;width:100%">
            <thead>
                <tr>
                    <th scope="col">Nom de l'utilisateur</th>
                    <th scope="col">Plan souscrit</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
              <tr>
                <td>{{user.username}}</td>
                <td>{{user.subscription.plan}}</td>
                <td>{{user.subscription.paymentstatus}}</td>
                <td>
                    <a href="{{path('update_user', {'id' : user.id})}}">
                        <button class="btn btn-primary">Modifier</button>
                    </a>
                    <a href="{{path('delete_user', {'id' : user.id})}}">
                        <button class="btn btn-primary">Supprimer</button>
                    </a>
                </td>
              </tr>
                {% endfor %}
            </tbody>
          </table>
          <div class="pagination">
            <div class="navigation">
              {{ knp_pagination_render(users) }}
            </div>
          </div>
          
        </div>
{% endblock %}
