{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
  <main id="col-main">
    <div class="dashboard-container">
      <ul class="dashboard-sub-menu">
        <li>
          <a href="{{path('users_list')}}">
              Liste des membres
          </a>
        </li>
        <li>
          <a href="{{path('notifications_list')}}">
              Notifications
          </a>
        </li>
        <li>
          <a href="{{path('videos_background')}}">
              Vidéos à la une
          </a>
        </li>
        <li>
            <a href="{{path('adminspace_videos')}}">
                Gestion des vidéos
            </a>
        </li>
        <li class="current">
            <a href="{{path('admin_dashboard')}}">
                Récapitulatif
            </a>
        </li>
      </ul><!-- close .dashboard-sub-menu -->

      <h6>Récapitulatif</h6>
      <ul class="list-group tab-position">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Nombre de vidéos en ligne
            {% if app.user.videos == null %}
              Aucune vidéo en ligne
            {% else %}
              <span class="badge badge-primary badge-pill">
                {{videoCount}}
              </span>
            {% endif %}
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Nombre total de membres inscrits
            {% if  totalUsers == 0 %}
              Vous n'avez aucun follower
            {% else %}
              <span class="badge badge-primary badge-pill">
                {{totalUsers}}
              </span>
            {% endif %}
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Nombre total de vues
            {% if maxVideoViews %}
              <span class="badge badge-primary badge-pill">
                {{viewCount}}
              </span>
            {% else %}
              <span class="badge badge-primary badge-pill">
                0
              </span>
            {% endif %}
          </li>
      </ul>

      {% if maxVideoViews %}
        <h6>Classement des vidéos les plus populaires</h6>
        <table class="table tab-position">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Titre de la vidéo</th>
              <th scope="col">Nombre de vues</th>
              <th scope="col">Nombre de likes</th>
            </tr>
          </thead>
          <tbody>
            {% for bestVideo in maxVideoViews %}
            {% set counter = ( counter | default(0) ) + 1 %}
            <tr>
              <th scope="row">{{ counter }}</th>
              <td>{{bestVideo.videotitle}}</td>
              <td>{{bestVideo.views}}</td>
              <td>{{bestVideo.videoLikes | length }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        {% for bestVideo in maxVideoViews %}
          <ul class="list-group admin-list d-md-none tab-position">
            {% set counter = ( counter | default(0) ) + 1 %}
            <div class="videos-tab-list">
              <li class="list-group-item">Position : {{counter}}</li>
              <li class="list-group-item">Titre : {{bestVideo.videotitle}}</li>
              <li class="list-group-item">Nombre de vues : {{bestVideo.views}} </li>
              <li class="list-group-item">Nombre de likes: {{bestVideo.videoLikes | length }}</li>
            </div>
          </ul>
        {% endfor %}
      {% else %}
        <h5>
          Vous n'avez encore publié aucune vidéo pour le moment, veuillez publier une vidéo.
        </h5>
      {% endif %}
    </div><!-- close .dashboard-container -->
  </main>
{% endblock %}