{% extends 'base.html.twig' %}

{% block title %}Vos chaines{% endblock %}

{% block body %}

<main id="col-main">
    <div class="dashboard-container">

        <ul class="dashboard-sub-menu">
            <li class="current">Vos chaines</li>
        </ul><!-- close .dashboard-sub-menu -->

        <div class="row" id="channels">
            {% for followed in user.following | slice(0, 20) %}
            {% for avatar in avatars %}
            <a href="{{path('channel', {'id': followed.id})}}">
                <div class="col-6 col-md-6 col-sm-6 col-lg-4 col-xl-3">
                    <div class="item-playlist-container-skrn video-card video-card-text">
                        <a href="{{path('channel', {'id': followed.id})}}">
                            <img src="{{asset('images/upload/' ~ avatar.avatar)}}" alt="avatar" class="img-responsive">
                        </a>
                        <div class="item-playlist-text-skrn">
                            <img src="{{asset('images/upload/' ~ avatar.avatar)}}" alt="avatar" class="img-responsive">
                            <h5>
                                <a href="{{path('channel', {'id': followed.id})}}">
                                    Chaine de: {{followed.username}}
                                </a>
                            </h5>
                        </div><!-- close .item-listing-text-skrn -->
                    </div><!-- close .item-playlist-container-skrn -->
                </div><!-- close .col -->

                {% endfor %}
                {% endfor %}
        </div><!-- close .row -->
        
        {% if user.following | length > loadMoreStart %} 
        <div class="pagination">
            <div class="navigation" id="loadbutton">
                <button class="btn btn-primary" id="loadMoreChannels">Load more</button>
            </div>
        </div>
        {% endif %}
    </div><!-- close .dashboard-container -->
</main>
{% endblock %}
{% block javascripts %}
{{ parent()}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    click = 0;

    function loadMoreChannels(event) {
        event.preventDefault();
        click++;
        var start = 20 * click;
        const url = "{{path('loadMoreChannels')}}/" + start;
        axios.get(url).then(function (response) {
            $("#channels").append(response.data);
            if (!response.data) {

                let loadButton = document.getElementById("loadbutton");
                loadButton.textContent = 'Plus aucune chaines à afficher';

            }
        }).catch(function (error) {
            if (response.status === 403) {
                window.alert("You are not authorized to perform this action!");
            } else if (response.status === 404) {
                window.alert("This page does not exist");
            } else {
                window.alert("An error has occurred !");
            }
        });
    }
    document.getElementById("loadMoreChannels").addEventListener("click", loadMoreChannels);
</script>
{% endblock %}
