{% extends 'base.html.twig' %}

{% block title %}Vidéos de {{user.username}}{% endblock %}

{% block body %}
<main id="col-main">

    <h5 class="videobychannel-header-title">Vidéos de {{user.username}} </h5>
    
    {% if user.imageuser %}
    <p class="center-image">
        <img src="{{asset('images/upload/' ~ user.imageuser.avatar)}}" class="channel-image">
    </p>
    {% endif %}

    <div class="dashboard-container">
        <div class="row" id="videosbychannel">
            
            {% for video in videos | slice(0, 20) %}
            {% if video.privacy == "public" %}
            <div class="col-6 col-md-6 col-sm-6 col-lg-4 col-xl-3">
                <div class="item-listing-container-skrn video-card video-card-text">
                    <a href="{{path("movie", {"id" : video.id, "idcategory" : video.category.id})}}"><img
                            src="{{asset('images/upload/' ~ video.videoimage)}}" alt="movies" class="imagemovie"></a>
                    <div class="item-listing-text-skrn">
                        <div class="item-listing-text-skrn-vertical-align">
                            <div class="videolist-title">
                                <a href="{{path("movie", {"id" : video.id, "idcategory" : video.category.id})}}" class="mobile-text">
                                    {{video.videotitle}}
                                </a>
                            </div>
                            <div class="avatar-position">
                                {% if video.username.imageuser %}
                                    <img src="{{asset('images/upload/' ~ video.username.imageuser.avatar)}}"
                                    class="rounded-circle avatar-height" id="width-avatar">
                                {% endif %}
                                <a href="{{path('channel', {'id': video.username.id})}}"
                                class="link-color mobile-text">{{video.username.username}}</a>
                                {% if video.views is not null %}
                                <p class="mobile-text text-position">
                                Vues : {{video.views}}
                                </p>
                                {% else %}
                                <p class="mobile-text text-position">
                                Aucune vue
                                </p>
                                {% endif %}
                            </div>
                        </div><!-- close .item-listing-text-skrn-vertical-align -->
                    </div><!-- close .item-listing-text-skrn -->
                </div><!-- close .item-listing-container-skrn -->
            </div><!-- close .col -->
            {% else %}
            <h5>Cette chaine ne contient aucune vidéo</h5>
            {% endif %}
            {% endfor %}
        </div><!-- close .row STOP-->
        
        {% if totalVideosByUser > loadMoreStart %}
        <div class="pagination">
            <div class="navigation" id="loadbutton">
                <button class="btn btn-primary" id="loadMoreVideosByChannel">Load more</button>
            </div>
        </div>
        {% endif %}
    </div><!-- close .dashboard-container -->
</main>
{% endblock %}
{% block javascripts %}
{{ parent()}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    click = 0;

    function loadMoreVideosByChannel(event) {
        event.preventDefault();
        click++;
        var start = 20 * click;
        const url = "{{path('loadMoreVideosByChannel', {'id': user.id})}}/" + start;
        axios.get(url).then(function (response) {
            $("#videosbychannel").append(response.data);
            if (!response.data) {

                let loadButton = document.getElementById("loadbutton");
                loadButton.textContent = 'Plus aucune vidéo à afficher';

            }
        }).catch(function (error) {
            if (response.status === 403) {
                window.alert("You are not authorized to perform this action!");
            } else if (response.status === 404) {
                window.alert("This page does not exist");
            } else {
                window.alert("An error has occurred !");
            }
        });
    }
    document.getElementById("loadMoreVideosByChannel").addEventListener("click", loadMoreVideosByChannel);
</script>
{% endblock %}