{% for playlist in playlists | slice(start, 20) %}
<div class="col-12 col-md-6 col-sm-6 col-lg-4 col-xl-3">
    <div class="item-playlist-container-skrn video-card video-card-text">
        <a href="{{path("movie", {"id" : playlist.video.id, "idcategory" : playlist.video.category.id})}}">
            <img src="{{asset('images/upload/' ~ playlist.video.videoimage)}}" alt="Listing" class="imagemovie">
        </a>
        <div class="item-playlist-text-skrn">
            <h5 class="videolist-title">
                <a href="{{path("movie", {"id" : playlist.video.id, "idcategory" : playlist.video.category.id})}}">
                    {{playlist.video.videotitle}}
                </a>
            </h5>
            
            {% if playlist.video.username.imageuser.avatar %}
                <img src="{{asset('images/upload/' ~ playlist.video.username.imageuser.avatar)}}"
                class="logo-avatar">
            {% endif %}
            
            <h5>
                <a href="{{path('channel', {'id': playlist.video.username.id})}}" class="link-color">
                    {{playlist.video.username.username}}
                </a> |
                {% if playlist.video.views is not null %}
                Vues : {{playlist.video.views}}
                {% else %}
                Aucune vue
                {% endif %}
            </h5>
        </div><!-- close .item-listing-text-skrn -->
    </div><!-- close .item-playlist-container-skrn -->
</div><!-- close .col -->
{% endfor %}