{% extends 'base.html.twig' %}

{% block title %}Mylion{% endblock %}

{% block body %}

<main id="col-main">

    <div class="dashboard-container">

        <h3 class="playlist-title">Votre playlist </h3>
        <div class="row" id="playlist">

            {% if playlists %}

            {% for playlist in playlists | slice(0, 20) %}
                <div class="col-12 col-md-6 col-sm-6 col-lg-4 col-xl-4">
                    <div class="item-playlist-container-skrn video-card video-card-text">
                        <a href="{{path("movie", {"id" : playlist.video.id, "idcategory" : playlist.video.category.id})}}">
                            <img src="{{asset('images/upload/' ~ playlist.video.videoimage)}}" alt="Listing" class="imagemovie">
                        </a>
                        <div class="item-playlist-text-skrn">
                            <div class="videolist-title">
                                <a href="{{path("movie", {"id" : playlist.video.id, "idcategory" : playlist.video.category.id})}}" class="mobile-text">
                                    {{playlist.video.videotitle}}
                                </a>
                            </div>

                            <div class="videolist-title">
                                {% if playlist.video.views is not null %}
                                    Vues : {{playlist.video.views}}
                                {% else %}
                                    Aucune vue
                                {% endif %}
                            </div>
                        </div><!-- close .item-listing-text-skrn -->
                    </div><!-- close .item-playlist-container-skrn -->
                </div><!-- close .col -->
            {% endfor %}

            {%   else   %}

                <div class="no-video-in-playlist">
                    <h4 class="no-playlist-message">
                        Votre playlist ne contient aucune vidéo
                    </h4>
                </div>

            {%  endif %}
        </div><!-- close .row -->
        {% if playlists | length > loadMoreStart %}
        <div class="pagination">
            <div class="navigation" id="loadbutton">
                <button class="btn btn-primary" id="loadMoreVideos">Load more</button>
            </div>
        </div>
        {% endif %}
    </div><!-- close .dashboard-container -->
</main>

{% endblock %}

{% block javascripts %}
{{ parent()}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    click = 0;

    function loadMoreVideosInPlaylist(event) {
        event.preventDefault();
        click++;
        var start = 20 * click;
        const url = "{{path('loadMoreVideosInPlaylist')}}/" + start;
        axios.get(url).then(function (response) {
            $("#playlist").append(response.data);
            if (!response.data) {

                let loadButton = document.getElementById("loadbutton");
                loadButton.textContent = 'Plus aucune vidéo à afficher';

            }
        }).catch(function (error) {
            if (response.status === 403) {
                window.alert("You are not authorized to perform this action!");
            } else if (response.status === 404) {
                window.alert("This page does not exist");
            } else {
                window.alert("An error has occurred !");
            }
        });
    }
    document.getElementById("loadMoreVideos").addEventListener("click", loadMoreVideosInPlaylist);
</script>
{% endblock %}
