{% for video in videos | slice(start, 50) %}
    <div class="col-12 col-md-6 col-sm-6 col-lg-4 col-xl-4">
        <div class="item-listing-container-skrn video-card video-card-text">
            <a href="{{path("movie", {"id" : video.id, "idcategory" : video.category.id})}}">
                <img src="{{asset('images/upload/' ~ video.videoimage)}}" alt="movies" class="imagemovie">
            </a>
            <div class="item-listing-text-skrn">
                <div class="item-listing-text-skrn-vertical-align">
                    <div class="videolist-title">
                        <a href="{{path("movie", {"id" : video.id, "idcategory" : video.category.id})}}" class="mobile-text">
                            {{video.videotitle}}
                        </a>
                    </div>
                    <div class="avatar-position">
                        {% if video.username.imageuser.avatar %}
                            <img src="{{asset('images/upload/' ~ video.username.imageuser.avatar)}}" class="rounded-circle avatar-height" id="width-avatar">
                        {% endif %}
                        <a href="{{path('channel', {'id': video.username.id})}}" class="link-color mobile-text">
                            {{video.username.username}}
                        </a> 
                        {% if video.views is not null %}
                            <p class="mobile-text text-position">
                                Vues : {{video.views}}
                            </p>
                        {% else %}
                            <p class="mobile-text text-position">
                                Aucune vue
                            </p>
                        {% endif %}
                    </div>
                </div><!-- close .item-listing-text-skrn-vertical-align -->
            </div><!-- close .item-listing-text-skrn -->
        </div><!-- close .item-listing-container-skrn -->
    </div><!-- close .col -->
{% endfor %}