{% extends 'base.html.twig' %}

{% block title %}{{video.videotitle }}{% endblock %}

{% block body %}
		
		<div id="content-sidebar-pro" style="position:absolute;left:3px;">
			
			<div id="content-sidebar-image">
				<img src="{{asset('images/upload/' ~ video.videoimage)}}" alt="Movie Poster" class="videoimage">
			</div>
			
			<div class="content-sidebar-section">
				<h2 class="content-sidebar-sub-header adjusted-recent-reviews" style="text-align:center;"> Vidéos recommandées </h2>
				<ul id="sidebar-reviews-pro" style="text-align:center;">
					{% for video in videos %}
					<li>
						<a href="{{path("movie", {"id" : video.id, "idcategory": video.category.id})}}">
							<h6 class="titlevideo">{{video.videotitle}}</h6>
							<img src="{{asset('images/upload/' ~ video.videoimage)}}" alt="Movie Poster" class="videosuggest class=img-responsive">
						</a>
					</li>
					{% endfor %}
				</ul>
			</div><!-- close .content-sidebar-section -->
			
		</div><!-- close #content-sidebar-pro -->
		
		
		<main id="col-main-with-sidebar">
			<section class="video-container">
				<video crossorigin playsinline style="--plyr-color-main: red;" id="player" class="col-md-12 col-lg-12">
					<source src="{{asset('videos/' ~ video.videolink)}}" type="video/mp4" size="576">
					<source src="{{asset('videos/' ~ video.videolink)}}" type="video/mp4" size="720">
					<source src="{{asset('videos/' ~ video.videolink)}}" type="video/mp4" size="1080">	
						
					<a href="{{asset('videos/' ~ video.videolink)}}" download>Download</a>
				</video>
			</section>
			
			<div id="movie-detail-rating">
				<div class="dashboard-container">
					<div class="row">
						<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
							<h3>{{video.videotitle}}</h3>
							<strong><p>Categorie : {{video.category.categoryName}} - Date de publication : {{video.publicationdate|date("d/m/y")}} - Nombre de vues : {{video.views}}</p></strong>
							
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
									<a href="{{path('playlist', {'idvideo': video.id, 'id': app.user.id})}}" class="js-play">
										Playlist
										{% if app.user and video.isSelectedByUser(app.user) %}
											<span><i class="fas fa-star fa-2x"></i></span>
										{% else %}
											<span><i class="far fa-star fa-2x"></i></span>
										{% endif %}
									</a>
							
							
									<a href="{{path('video_like', {'id': video.id})}}" class="js-like">
										{% if app.user and video.isLikedByUser(app.user) %}
											<span class="button-like"><i class="fas fa-thumbs-up fa-2x"></i></span>
										{% else %}
											<span class="button-like"><i class="far fa-thumbs-up fa-2x"></i></span>
										{% endif %}
										<span class="js-likes">{{video.likes | length}}</span>
									</a>
									
									{% if is_granted('ROLE_USER') and video.username != app.user %}
										{% set isFollowed = video.username.followers.contains(app.user) %}
										
										<button style="display: {% if not isFollowed %}block{% else %}none{% endif %}" 
											class="btn btn-primary button_follow" id="follow">Follow
										</button>
										<button style="display: {% if isFollowed %}block{% else %}none{% endif %}" 
											class="btn btn-primary button_follow" id="unfollow">UnFollow
										</button>
										
									{% endif %}
									
								</div>
							</div>
						</div>
					</div><!-- close .row -->
				</div><!-- close .dashboard-container -->
			</div><!-- close #movie-detail-rating -->
			
			<div class="dashboard-container">
				<div class="movie-details-section">
					<h2>Description</h2>
					<p style="font-size:large">{{video.videodescription}}</p>
				</div><!-- close .movie-details-section -->
				<div class="movie-details-section">
					<h3>Commentaires</h3>
					{% form_theme commentform 'bootstrap_4_layout.html.twig' %}
					{{form_start(commentform, {"attr" : {'id':'sendcomment'}})}}
						{{form_row(commentform.content, { 'attr': {'class': 'commentBox comment_form', 'rows':'10'}})}}
						{{form_widget(commentform)}}
						<button type="submit" onClick="showComment()" class="btn btn-primary">Ajoutez</button>
					{{form_end(commentform)}}
				</div>
				
				<div class="comments"></div>  
				{% for comment in comments | slice(0, 5) %}
				<ul class="clearfix">
					<li class="autre">
						{{comment.content}}
					</li> 
					<li>
						{{app.user.username}}   
					</li>          
				</ul>
				{% endfor %}
				<div id="statuscomment"></div>

				<div class="row text-center">
					<button id="loadMoreComments" class="btn btn-primary col-md-6 col-8 mx-auto">Voir plus de commentaires</button>
				</div>

			</div><!-- close .dashboard-container -->
		</main>
{% endblock %}
{% block javascript %}
{{parent()}}
<script>
var followButton = document.getElementById('follow');
var unfollowButton = document.getElementById('unfollow');

addOnClick(
    followButton,
    unfollowButton,
    '{{ path("following", {"id":video.username.id})}}'

);

addOnClick(
    unfollowButton,
    followButton,
    '{{ path("unfollowing", {"id":video.username.id})}}'

);

function switchButtons(button, oppositeButton) {
    button.disabled = false;
	button.style.display = 'none';
    oppositeButton.style.display = 'block';
}

function addOnClick(button, oppositeButton, path) {

    button.addEventListener('click', function (event) {
        button.disabled = true;

        fetch(path, {'credentials' : 'include'}).then(function () {

           
            switchButtons(button, oppositeButton);
            
        }).catch(function () {

            switchButtons(button, oppositeButton);


        });

        event.preventDefault();
	});
}

//permet d'afficher le progrès de l'upload via la barre de progrès
//permet d'afficher le progrès de l'upload via la barre de progrès
$(document).ready(function(){
    // File upload via Ajax
    $("#sendcomment").on('submit', function(e){
        e.preventDefault();
        $.ajax({

            type: 'POST',
            url: "{{path('movie', {'id' : video.id, 'idcategory' : video.category.id})}}",
            data: new FormData(this),
            contentType: false,
            cache: false,
            processData:false,
            success: function(){
                var comment = $('.commentBox').val();
		$('<ul>').html('<li>' + comment + '</li>' + '<li>Publié par : {{app.user.username}}</li>').prependTo('.comments'); 
            }
        });
    });
});

	click = 0;
    function loadMoreComments(event) {
        event.preventDefault();
        click++;
        var start = 5 * click;
        const url = "{{path('loadMoreComments', {'id': video.id})}}/" + start;
        axios.get(url).then(function(response) {
            $("#statuscomment").append(response.data);
        }).catch(function (error) {
            if (response.status === 403) {
                window.alert("Vous n'êtes pas autorisé à effectuer cette action !");
            }
            else if (response.status === 404) {
                window.alert("La page appelé n'existe pas");
            }
            else {
                window.alert("Une erreur est survenue !");
            }
        });
	}
	//
	
	document.getElementById("loadMoreComments").addEventListener("click", loadMoreComments);

</script>
{% endblock %}