<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Mylion{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheet %} 
        <link rel="stylesheet" href="{{asset("css/bootstrap.min.css")}}">
        <link rel="stylesheet" href="{{asset("css/main.css")}}">
        <link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css"/>

        {% endblock %} 
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700%7CMontserrat:300,400,600,700">
        <link rel="stylesheet" href="{{asset("icons/fontawesome/css/fontawesome-all.min.css")}}"><!-- FontAwesome Icons -->
        <link rel="stylesheet" href="{{asset("icons/Iconsmind__Ultimate_Pack/Line/styles.min.css")}}"><!-- iconsmind.com Icons -->
        <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
<body>
{% if app.user %}
<a href="{{path('homepage')}}"><h3 class="share-page-site-title">Mylion</h3></a>
{% else %}
<a href="{{path('home')}}"><h3 class="share-page-site-title">Mylion</h3></a>
{% endif %}
<main id="col-main-with-sidebar" style="margin:auto;">
	<section class="share-video-container">
			<video src="{{asset('videos/' ~ video.videolink)}}" class="video" autoplay>
			  Sorry your browser can't support video tag.
			</video>
			<div class="video-controls">
			  <!-- timebar -->
			  <div class="video-timebar">
				<div class="video-timebar-buffered"></div>
				<div class="video-timebar-current"></div>
				<div class="video-timebar-duration"></div>
				<div class="video-timebar-circle"></div>
				<div class="video-timebar-toolkit">
				  
				</div>
			  </div>
			  <div class="video-controls-box">
				<!-- suound control -->
				<div class="video-sound-control">
				  <div class="video-sound-control-icon">
					<i class="fa fa-volume-up volume-btn"></i>
				  </div>
				  <div class="video-sound-control-meter">
					<div class="video-sound-control-meter-current"></div>
					<div class="video-sound-control-meter-full"></div>
				  </div>
				</div>
				<!-- play and pause btn -->
				<div class="video-control-play-pause">
				  <!-- current time -->
				  <div class="video-current-time-box">
					
				  </div>
				  <div class="video-control-btns">
					<i class="fa fa-backward back-btn"></i>
					<i class="fa fa-play-circle-o play-btn"></i>
					<i class="fa fa-forward next-btn"></i>
				  </div>
				  <!-- video duration time -->
				  <div class="video-duration-time-box">
					
				  </div>
				</div>
				<!-- subtitle , quality , fullsceen -->
				<div class="video-control-subtitle">
				  <!-- <span class="video-language">Hindi</span>
				  <span class="video-quality">HD</span>
				   -->
				   {% if is_granted('ROLE_USER') %}
				   <a href="{{path("movie", {"id" : video.id, "idcategory" : video.category.id})}}"><span style="font-size:small;color:white">Switch</span></a>
				   {% endif %}
				<span class="video-full-screen-icon"><i class="fa fa-expand"></i></span>
				</div>
			  </div>
		  </div>
	</section>
	<div id="movie-detail-rating" style="margin:auto;width:80%">
		<div class="dashboard-container">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div style="display:flex;flex-direction:row;justify-content:space-between">
					<div class="video-user-info">
						<img src="{{asset('images/upload/' ~ video.username.imageuser.avatar)}}" class="rounded-circle user-video-avatar">
						<a href="{{path('channel', {'id': video.username.id})}}" style="color:blue"><span class="text-size">{{video.username.username}}</span></a> | <span class="text-size">followers</span> : {{video.username.followers | length}}
					</div>
					{% if is_granted('ROLE_USER') and video.username != app.user %}
					<div>
					{% set isFollowed = video.username.followers.contains(app.user) %}

					<button style="display: {% if not isFollowed %}block{% else %}none{% endif %}"
						class="btn btn-sm btn-primary button_follow" id="follow">Follow
					</button>
					<button style="display: {% if isFollowed %}block{% else %}none{% endif %}"
						class="btn btn-sm btn-primary button_follow" id="unfollow">UnFollow
					</button>
					</div>
					</div>
					
					<div class="section_buttons_videos d-none d-md-block">
							<a href="{{path('playlist', {'idvideo': video.id, 'id': app.user.id})}}" class="js-play">
								Playlist
								{% if app.user and video.isSelectedByUser(app.user) %}
								<span><i class="fas fa-2x fa-star"></i></span>
								{% else %}
								<span><i class="far fa-2x fa-star"></i></span>
								{% endif %}
							</a>

							<a href="{{path('video_like', {'id': video.id})}}" class="js-like">
								{% if app.user and video.isLikedByUser(app.user) %}
								<span class="button-like"><i class="fas fa-2x fa-thumbs-up"></i></span>
								{% else %}
								<span class="button-like"><i class="far fa-2x fa-thumbs-up"></i></span>
								{% endif %}
								<span class="js-likes">{{video.likes | length}}</span>
							</a>
						</div>
						<div class="section_buttons_videos d-sm-none">
							<a href="{{path('playlist', {'idvideo': video.id, 'id': app.user.id})}}" class="js-play">
								Playlist
								{% if app.user and video.isSelectedByUser(app.user) %}
								<span><i class="fas fa-star"></i></span>
								{% else %}
								<span><i class="far fa-star"></i></span>
								{% endif %}
							</a>

							<a href="{{path('video_like', {'id': video.id})}}" class="js-like">
								{% if app.user and video.isLikedByUser(app.user) %}
								<span class="button-like"><i class="fas fa-thumbs-up"></i></span>
								{% else %}
								<span class="button-like"><i class="far fa-thumbs-up"></i></span>
								{% endif %}
								<span class="js-likes">{{video.likes | length}}</span>
							</a>
						</div>
					{% endif %}
				</div>
			</div><!-- close .row -->
		</div><!-- close .dashboard-container -->
	</div><!-- close #movie-detail-rating -->

	<div class="dashboard-container">
		<div class="movie-details-section">
			<p class="videoname">{{video.videotitle}}</p>
					<strong>
						<p class="video-data">Categorie : {{video.category.categoryName}} - Date de publication :
							{{video.publicationdate|date("d/m/y")}} - Nombre de vues : {{video.views}}</p>
					</strong>
					<div style="margin-bottom:15px">
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000/{{path('partage', {'id' : video.id})}}&t={{video.videotitle}}" class="share facebook" data-network="facebook" target="_blank"><img src="{{asset('images/icones/facebook-icon.png')}}"></a>
						</li>
						<li class="list-inline-item">
							<a href="https://twitter.com/share?url=http://127.0.0.1:8000/{{path('partage', {'id' : video.id})}}&text={{video.videotitle}}" class="share twitter" data-network="twitter" target="_blank"><img src="{{asset('images/icones/twitter-icon.png')}}"></a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.linkedin.com/shareArticle?mini=true&url=http://127.0.0.1:8000/{{path('partage', {'id' : video.id})}}&title={{video.videotitle}}&source=mylion" class="share linkedin" data-network="linkedin" target="_blank"><img src="{{asset('images/icones/linkedin.png')}}"></a>
						</li>
						<li class="list-inline-item">
							<a href="http://pinterest.com/pin/create/button/?url={{path('partage', {'id' : video.id})}}&description={{video.videotitle}}" target="_blank"><img src="{{asset('images/icones/pinterest-icon.png')}}"></a>
						</li>
					</ul>
				</div>
				<h2>Description</h2>

			<p class="video-description">{{video.videodescription}}</p>
		</div>

		<div class="movie-details-section videos-section">
			<h2>Voir aussi</h2>
			<div class="row">
				{% if user_videos is null %}
				{% for video in newvideos %}
				<div class="col-12 col-md-6 col-sm-6 col-lg-6 col-xl-4">
					<div class="item-listing-container-skrn video-card" style="text-overflow: ellipsis;overflow:hidden">
						<a href="{{path("movie", {"id" : video.id, "idcategory": video.category.id})}}">
							<img src="{{asset('images/upload/' ~ video.videoimage)}}" alt="Movie Poster" class="img-responsive imagemovie">
						</a>
						<div class="item-listing-text-skrn">
							<div class="item-listing-text-skrn-vertical-align">
								<p class="video_icone_title"><a href="{{path("movie", {"id" : video.id, "idcategory" : video.category.id})}}">{{video.videotitle}}</a></p>
								<div style="float:left;margin-left:-20px">
									<img src="{{asset('images/upload/' ~ video.username.imageuser.avatar)}}" class="rounded-circle" style="width:35px;height:35px;">
									<a href="{{path('channel', {'id': video.username.id})}}" style="color:blue">{{video.username.username}}</a> | {% if video.views is not null %} Vues : {{video.views}} {% else %} Aucune vue {% endif %}
								</div>
							</div><!-- close .item-listing-text-skrn-vertical-align -->
						</div><!-- close .item-listing-text-skrn -->
					</div><!-- close .item-listing-container-skrn -->
				</div><!-- close .col -->
				{% endfor %}
				{% else %}
				{% for video in user_videos %}
				<div class="col-12 col-md-6 col-sm-6 col-lg-6 col-xl-4">
					<div class="item-listing-container-skrn video-card" style="text-overflow: ellipsis;overflow:hidden">
						<a href="{{path('second_player', {'id':video.id})}}">
							<img src="{{asset('images/upload/' ~ video.videoimage)}}" alt="Movie Poster" class="img-responsive imagemovie">
						</a>
						<div class="item-listing-text-skrn">
							<div class="item-listing-text-skrn-vertical-align">
								<p class="video_icone_title"><a href="{{path('second_player', {'id':video.id})}}">{{video.videotitle}}</a></p>
								<div style="float:left;margin-left:-20px">
									<img src="{{asset('images/upload/' ~ video.username.imageuser.avatar)}}" class="rounded-circle" style="width:35px;height:35px;">
									<a href="{{path('channel', {'id': video.username.id})}}" style="color:blue">{{video.username.username}}</a> | {% if video.views is not null %} Vues : {{video.views}} {% else %} Aucune vue {% endif %}
								</div>
							</div><!-- close .item-listing-text-skrn-vertical-align -->
						</div><!-- close .item-listing-text-skrn -->
					</div><!-- close .item-listing-container-skrn -->
				</div><!-- close .col -->
				{% endfor %}
				{% endif %}
			</div><!-- close .row -->

		</div><!-- close .movie-details-section -->

	</div><!-- close .dashboard-container -->
</main>
<footer id="footer-pro">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="copyright-text-pro">&copy; Copyright 2021 Mylion. All Rights Reserved</div>
            </div><!-- close .col -->
            <div class="col-md">
                <ul class="social-icons-pro">
                    <li class="facebook-color"><a href="http://facebook.com/progressionstudios" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="twitter-color"><a href="http://twitter.com/Progression_S" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li class="youtube-color"><a href="http://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    <li class="vimeo-color"><a href="http://vimeo.com" target="_blank"><i class="fab fa-vimeo-v"></i></a></li>
                </ul>
            </div><!-- close .col -->
        </div><!-- close .row -->
    </div><!-- close .container -->
</footer>
<script src="{{asset("js/videosingle.js")}}"></script>
</body>
</html>
