<!DOCTYPE html>
<html lang="eng">

	<head>
		<title>{% block title %}Mylion{% endblock %}</title>
		<meta charset="utf-8">
		<link rel="icon" type="image/png" href="{{asset("images/icones/favicon.png")}}">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta property="og:type" content="video"/>
		<meta property="og:title" content="{{video.videotitle}}"/>
		<meta property="og:description" content="{{video.videodescription}}"/>
		<meta property="og:image" content="{{asset('images/upload/' ~ video.videoimage)}}"/>
		<meta property="og:image" content="{{asset('images/upload/' ~ video.videoimage)}}"/>
		{% block stylesheet %}
		<link rel="stylesheet" href="{{asset("css/bootstrap.min.css")}}">
		<link rel="stylesheet" href="{{asset("css/main.css")}}">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700%7CMontserrat:300,400,600,700">
		<link rel="stylesheet" href="{{asset("icons/fontawesome/css/fontawesome-all.min.css")}}"><!-- FontAwesome Icons -->
		<link rel="stylesheet" href="{{asset("icons/Iconsmind__Ultimate_Pack/Line/styles.min.css")}}">
		<!-- iconsmind.com Icons -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		{% endblock %}
	</head>

	<body>
		{% if app.user %}
			<a href="{{path('homepage')}}">
				<h3 class="share-page-site-title">Mylion</h3>
			</a>
		{% else %}
			<a href="{{path('home')}}">
				<h3 class="share-page-site-title">Mylion</h3>
			</a>
		{% endif %}
		<main id="col-main-with-sidebar shared-video-section">
			<section class="share-video-container">
				<video src="{{video.videolink}}" class="video" poster="{{asset('images/upload/' ~ video.videoimage)}}">
					Sorry your browser can't support video tag.
				</video>
				<div class="video-controls">
					<!-- timebar -->
					<div class="video-timebar">
						<div class="video-timebar-buffered"></div>
						<div class="video-timebar-current"></div>
						<div class="video-timebar-duration"></div>
						<div class="video-timebar-circle"></div>
						<div class="video-timebar-toolkit"></div>
					</div>
					<div class="video-controls-box">
						<!-- suound control -->
						<div class="video-sound-control">
							<div class="video-sound-control-icon">
								<i class="fa fa-volume-up volume-btn"></i>
							</div>
							<div class="video-sound-control-meter">
								<div class="video-sound-control-meter-current"></div>
								<div class="video-sound-control-meter-full"></div>
							</div>
						</div>
						<!-- play and pause btn -->
						<div class="video-control-play-pause">
							<!-- current time -->
							<div class="video-current-time-box"></div>
							<div class="video-control-btns">
								<i class="fa fa-backward back-btn"></i>
								<i class="fa fa-play-circle-o play-btn"></i>
								<i class="fa fa-forward next-btn"></i>
							</div>
							<!-- video duration time -->
							<div class="video-duration-time-box"></div>
						</div>
						<!-- subtitle , quality , fullsceen -->
						<div class="video-control-subtitle">
						<!-- <span class="video-language">Hindi</span>
						<span class="video-quality">HD</span>
						-->
							{% if is_granted('ROLE_USER') %}
								<a href="{{path("movie", {"id" : video.id, "idcategory" : video.category.id})}}">
									<span class="share-video-button-switch">Switch</span>
								</a>
							{% endif %}
							<span class="video-full-screen-icon">
									<i class="fa fa-expand"></i>
							</span>
						</div>
					</div>
				</div>
			</section>
			<div id="movie-detail-rating" class="share-video-description">
				<div class="dashboard-container">
					<div class="row">
						<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
							<p class="videoname mobile-text">
								{{video.videotitle}}
							</p>
							<strong>
								<p class="video-data">
									Categorie : {{video.category.categoryName}} - Date de publication :
									{{video.publicationdate|date("d/m/y")}} - Nombre de vues : {{video.views}}
								</p>
							</strong>
						</div>
					</div><!-- close .row -->
				</div><!-- close .dashboard-container -->
			</div><!-- close #movie-detail-rating -->

			<div class="dashboard-container share-video-description description-block">
				<div class="movie-details-section">
					<h2>Description</h2>
					<p class="video-description">
						{{video.videodescription}}
					</p>
				</div>
			</div><!-- close .dashboard-container -->
		</main>
		<footer id="footer-pro">
			<div class="container">
				<div class="row">
					<div class="col-md">
						<div class="copyright-text-pro">
							&copy; Copyright 2021 Mylion. All Rights Reserved
						</div>
					</div><!-- close .col -->
				</div><!-- close .row -->
			</div><!-- close .container -->
		</footer>
		<script src="{{asset("js/videosingle.js")}}"></script>
	</body>
</html>
