{% extends 'base.html.twig' %}

{% block title %}Résultat de recherche{% endblock %}

{% block body %}
<main id="col-main">
  <div class="dashboard-container">
    <h4 class="search-title">Résultat de votre recherche</h4>
    <div class="row search-result" id="listvideo">
      {% for video in videos | slice(0, 20) %}
      <div class="col-6 col-md-6 col-sm-6 col-lg-4 col-xl-3">
        <div class="item-listing-container-skrn video-card video-card-text">
          <a href="{{path("movie", {"id" : video.id, "idcategory" : video.category.id})}}">
            <img src="{{asset('images/upload/' ~ video.videoimage)}}" alt="movies" class="imagemovie">
          </a>
          <div class="item-listing-text-skrn">
            <div class="item-listing-text-skrn-vertical-align">
              <h6 class="video">
                <a href="{{path("movie", {"id" : video.id, "idcategory" : video.category.id})}}" class="mobile-text">
                  {{video.videotitle}}
                </a>
              </h6>
              <div class="avatar-position">
                <img src="{{asset('images/upload/' ~ video.username.imageuser.avatar)}}"
                class="rounded-circle avatar-height" id="width-avatar">
                <a href="{{path('channel', {'id': video.username.id})}}" class="link-color mobile-text">
                {{video.username.username}}
                </a>
                {% if video.views is not null %}
                <p class="mobile-text text-position">Vues : {{video.views}}</p>
                {% else %}
                <p class="mobile-text text-position">Aucune vue</p>
                {% endif %}
              </div>
            </div><!-- close .item-listing-text-skrn-vertical-align -->
          </div><!-- close .item-listing-text-skrn -->
          {% if is_granted('ROLE_ADMIN') %}
          <div class="delete-video-button">
            <a href="{{path('admin_delete_video', {'id': video.id})}}">
              <button class="btn btn-primary btn-sm admin_delete_videos">
                <i class="fas fa-trash-alt"></i>
              </button>
            </a>
          </div>
          {% endif %}
        </div><!-- close .item-listing-container-skrn -->
      </div><!-- close .col -->
      {% endfor %}
    </div><!-- close .row STOP-->
    {% if videos | length > 20 %}
    <div class="pagination">
      <div class="navigation" id="loadbutton">
          <button class="btn btn-primary" id="loadMoreResult">Load more</button>
      </div>
    </div>
    {% endif %}
  </div><!-- close .dashboard-container -->
</main>
{% endblock %}

{% block javascripts %}
{{ parent()}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    click = 0;

    function loadMoreResult(event) {
        event.preventDefault();
        click++;
        var start = 20 * click;
        const url = "{{path('loadMoreResult', {'query': query})}}/" + start;
        axios.get(url).then(function (response) {
            $("#listvideo").append(response.data);
            if (!response.data) {

                let loadButton = document.getElementById("loadbutton");
                loadButton.textContent = 'Plus aucune vidéo à afficher';

            }
        }).catch(function (error) {
            if (response.status === 403) {
                window.alert("You are not authorized to perform this action!");
            } else if (response.status === 404) {
                window.alert("This page does not exist");
            } else {
                window.alert("An error has occurred !");
            }
        });
    }
    document.getElementById("loadMoreResult").addEventListener("click", loadMoreResult);
</script>
{% endblock %}
