{% extends 'base.html.twig' %}

{% block title %}{{video.videotitle }}{% endblock %}

{% block body %}

<div id="content-sidebar-pro" style="position:absolute;left:3px;">

	<div id="content-sidebar-image">
		<img src="{{asset('images/upload/' ~ video.videoimage)}}" alt="Movie Poster" class="videoimage">
	</div>

	<div class="content-sidebar-section">
		<h2 class="content-sidebar-sub-header adjusted-recent-reviews" style="text-align:center;"> Vidéos recommandées</h2>
		<ul id="sidebar-reviews-pro" style="text-align:center;">
			{% for video in videos %}
			<li>
				<a href="{{path("movie", {"id" : video.id, "idcategory": video.category.id})}}">
					<h6 class="titlevideo">{{video.videotitle}}</h6>
					<img src="{{asset('images/upload/' ~ video.videoimage)}}" alt="Movie Poster"
						class="videosuggest class=img-responsive">
				</a>
			</li>
			{% endfor %}
		</ul>
	</div><!-- close .content-sidebar-section -->

</div><!-- close #content-sidebar-pro -->


<main id="col-main-with-sidebar">
	<section class="video-container">
			<video src="{{asset('videos/' ~ video.videolink)}}" class="video" autoplay>
			  Sorry your browser can't support video tag.
			</video>
			<div class="video-controls">
			  <!-- timebar -->
			  <div class="video-timebar">
				<div class="video-timebar-buffered"></div>
				<div class="video-timebar-current"></div>
				<div class="video-timebar-duration"></div>
				<div class="video-timebar-circle"></div>
				<div class="video-timebar-toolkit">
				  
				</div>
			  </div>
			  <div class="video-controls-box">
				<!-- suound control -->
				<div class="video-sound-control">
				  <div class="video-sound-control-icon">
					<i class="fa fa-volume-up volume-btn"></i>
				  </div>
				  <div class="video-sound-control-meter">
					<div class="video-sound-control-meter-current"></div>
					<div class="video-sound-control-meter-full"></div>
				  </div>
				</div>
				<!-- play and pause btn -->
				<div class="video-control-play-pause">
				  <!-- current time -->
				  <div class="video-current-time-box">
					
				  </div>
				  <div class="video-control-btns">
					<i class="fa fa-backward back-btn"></i>
					<i class="fa fa-play-circle-o play-btn"></i>
					<i class="fa fa-forward next-btn"></i>
				  </div>
				  <!-- video duration time -->
				  <div class="video-duration-time-box">
					
				  </div>
				</div>
				<!-- subtitle , quality , fullsceen -->
				<div class="video-control-subtitle">
				  <!-- <span class="video-language">Hindi</span>
				  <span class="video-quality">HD</span>
				   -->
				  <span class="video-full-screen-icon"><i class="fa fa-expand"></i></span>
				</div>
			  </div>
		  </div>
	</section>

	<div id="movie-detail-rating" style="height:270px">
		<div class="dashboard-container">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div style="margin-bottom:20px">
						<img src="{{asset('images/avatar/' ~ video.username.imageuser.avatar)}}" class="rounded-circle" style="width:50px;height:50px">
						{{video.username.username}} | nombre de followers : {{video.username.followers | length}}
					</div>
					<h4>{{video.videotitle}}</h4>
					<strong>
						<p>Categorie : {{video.category.categoryName}} - Date de publication :
							{{video.publicationdate|date("d/m/y")}} - Nombre de vues : {{video.views}}</p>
					</strong>

					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
							<a href="{{path('playlist', {'idvideo': video.id, 'id': app.user.id})}}" class="js-play">
								Playlist
								{% if app.user and video.isSelectedByUser(app.user) %}
								<span><i class="fas fa-star fa-2x"></i></span>
								{% else %}
								<span><i class="far fa-star fa-2x"></i></span>
								{% endif %}
							</a>

							<a href="{{path('video_like', {'id': video.id})}}" class="js-like">
								{% if app.user and video.isLikedByUser(app.user) %}
								<span class="button-like"><i class="fas fa-thumbs-up fa-2x"></i></span>
								{% else %}
								<span class="button-like"><i class="far fa-thumbs-up fa-2x"></i></span>
								{% endif %}
								<span class="js-likes">{{video.likes | length}}</span>
							</a>

							{% if is_granted('ROLE_USER') and video.username != app.user %}
							<div style="margin-left:280px;position:relative;bottom:55px">
							{% set isFollowed = video.username.followers.contains(app.user) %}

							<button style="display: {% if not isFollowed %}block{% else %}none{% endif %}"
								class="btn btn-primary button_follow" id="follow">Follow
							</button>
							<button style="display: {% if isFollowed %}block{% else %}none{% endif %}"
								class="btn btn-primary button_follow" id="unfollow">UnFollow
							</button>
							</div>

							{% endif %}

						</div>
					</div>
				</div>
			</div><!-- close .row -->
		</div><!-- close .dashboard-container -->
	</div><!-- close #movie-detail-rating -->

	<div class="dashboard-container">
		<div class="movie-details-section">
			<h2>Description</h2>
			<p class="video-description">{{video.videodescription}}</p>
		</div>
		<div class="movie-details-section" id="comment-form">
			<h3>Commentaires</h3>
			{% form_theme commentform 'bootstrap_4_layout.html.twig' %}
			{% set action = path('addcomment', {'id' : video.id, 'idcategory': video.category.id}) ~ '#comment-form' %}
			{{form_start(commentform, {'action': action, 'method': 'POST'})}}
				{{form_row(commentform.content, { 'attr': {'class': 'comment_form', 'rows':'10'}})}}
				{{form_widget(commentform)}}
				<button class="btn btn-primary">Postez</button>
			{{form_end(commentform)}}
		</div>

		{% if comments %}
		{% for message in app.flashes('success') %}
    	<div class="alert alert-success">
        {{ message }}
    	</div>
		{% endfor %}
		<div class="scroller">
		{% for comment in comments %}
		<div class="comment-block">
			<div class="button-comment">
				<div class="button-element">
				<a href="{{path('delete_comment', {"id" : comment.id, "idvideo" : video.id, "idcategory": video.category.id})}}"><button class="btn btn-primary"><i class="fas fa-trash-alt"></i></button></a>
				</div>
			</div>
			<div class="info-comment">
				<div class="comment-username">
					<img src="{{asset('images/avatar/' ~ comment.username.imageuser.avatar)}}" class="rounded-circle" style="width:50px;height:50px">
					{{comment.username.username}} | {{comment.date | date("d/m/y")}}
				</div>
				<div class="content-comment">{{comment.content}}</div>
			</div>
		</div>
		{% endfor %}
		</div>
		{% else %}
			<p>Aucun commentaire n'a été ajouté, soyez le premier à commenter</p>
		{% endif %}

		<div class="movie-details-section videos-section">
			<h2>Nouveautés</h2>
			<div class="row">
				{% for video in newvideos %}
				<div class="col-12 col-md-6 col-lg-6 col-xl-3">
					<div class="item-listing-container-skrn">
						<a href="{{path("movie", {"id" : video.id, "idcategory": video.category.id})}}">
							<img src="{{asset('images/upload/' ~ video.videoimage)}}" alt="Movie Poster" class="img-responsive dimension-image">
						</a>
						<div class="item-listing-text-skrn">
							<div class="item-listing-text-skrn-vertical-align">
								<h6 style="width:300px;text-overflow:ellipsis;white-space: nowrap;overflow:hidden;margin-left:-20px"><a href="{{path("movie", {"id" : video.id, "idcategory" : video.category.id})}}">{{video.videotitle}}</a></h6>
								<div style="float:left;margin-left:-20px">
									<img src="{{asset('images/avatar/' ~ video.username.imageuser.avatar)}}" class="rounded-circle" style="width:35px;height:35px;">
									{{video.username.username}} | {% if video.views is not null %} Vues : {{video.views}} {% else %} Aucune vue {% endif %}
								</div>
							</div><!-- close .item-listing-text-skrn-vertical-align -->
						</div><!-- close .item-listing-text-skrn -->
					</div><!-- close .item-listing-container-skrn -->


				</div><!-- close .col -->
				{% endfor %}
			</div><!-- close .row -->

		</div><!-- close .movie-details-section -->

	</div><!-- close .dashboard-container -->
</main>
{% endblock %}

{% block javascript %}
{{parent()}}
<script>
	var followButton = document.getElementById('follow');
	var unfollowButton = document.getElementById('unfollow');

	addOnClick(
		followButton,
		unfollowButton,
		'{{ path("following", {"id":video.username.id})}}'

	);

	addOnClick(
		unfollowButton,
		followButton,
		'{{ path("unfollowing", {"id":video.username.id})}}'

	);

	function switchButtons(button, oppositeButton) {
		button.disabled = false;
		button.style.display = 'none';
		oppositeButton.style.display = 'block';
	}

	function addOnClick(button, oppositeButton, path) {

		button.addEventListener('click', function (event) {
			button.disabled = true;

			fetch(path, {
				'credentials': 'include'
			}).then(function () {


				switchButtons(button, oppositeButton);

			}).catch(function () {

				switchButtons(button, oppositeButton);


			});

			event.preventDefault();
		});
	}
</script>
{% endblock %}