{% extends 'base.html.twig' %}

{% block title %}{{video.videotitle }}{% endblock %}

{% block body %}
		
		<div id="content-sidebar-pro" style="position:absolute;left:3px;">
			
			<div id="content-sidebar-image">
				<img src="{{asset('images/upload/' ~ video.videoimage)}}" alt="Movie Poster" class="videoimage">
			</div>
			
			<div class="content-sidebar-section">
				<h2 class="content-sidebar-sub-header adjusted-recent-reviews" style="text-align:center;"> Vidéos recommandées </h2>
				<ul id="sidebar-reviews-pro" style="text-align:center;">
					{% for video in videos %}
					<li>
						<a href="{{path("movie", {"id" : video.id, "idcategory": video.category.id})}}">
							<h6 class="titlevideo">{{video.videotitle}}</h6>
							<img src="{{asset('images/upload/' ~ video.videoimage)}}" alt="Movie Poster" class="videosuggest class=img-responsive">
						</a>
					</li>
					{% endfor %}
				</ul>
			</div><!-- close .content-sidebar-section -->
			
		</div><!-- close #content-sidebar-pro -->
		
		
		<main id="col-main-with-sidebar">
			<section class="video-container">
				<video crossorigin playsinline style="--plyr-color-main: red;" id="player">
					<source src="{{asset('videos/' ~ video.videolink)}}" type="video/mp4" size="576">
					<source src="{{asset('videos/' ~ video.videolink)}}" type="video/mp4" size="720">
					<source src="{{asset('videos/' ~ video.videolink)}}" type="video/mp4" size="1080">	
						
					<a href="{{asset('videos/' ~ video.videolink)}}" download>Download</a>
				</video>
			</section>
			
			<div id="movie-detail-rating">
				<div class="dashboard-container">
					<div class="row">
						<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
							<h3>{{video.videotitle}}</h3>
							<strong><p>Categorie : {{video.category.categoryName}} - Date de publication : {{video.publicationdate|date("d/m/y")}} - Nombre de vues : {{video.views}}</p></strong>
							
							<div style class="sharethis-inline-share-buttons"></div>
							
							<a href="{{path('playlist', {'idvideo': video.id, 'id': app.user.id})}}" class="js-play">
								Playlist
								{% if app.user and video.isSelectedByUser(app.user) %}
									<span><i class="fas fa-star fa-2x"></i></span>
								{% else %}
									<span><i class="far fa-star fa-2x"></i></span>
								{% endif %}
							</a>
							
							
							<a href="{{path('video_like', {'id': video.id})}}" class="js-like">
								{% if app.user and video.isLikedByUser(app.user) %}
									<span class="button-like"><i class="fas fa-thumbs-up fa-2x"></i></span>
								{% else %}
									<span class="button-like"><i class="far fa-thumbs-up fa-2x"></i></span>
								{% endif %}
								<span class="js-likes">{{video.likes | length}}</span>
							</a>
						</div>
					</div><!-- close .row -->
				</div><!-- close .dashboard-container -->
			</div><!-- close #movie-detail-rating -->
			
			<div class="dashboard-container">
				<div class="movie-details-section">
					<h2>Description</h2>
					<p style="font-size:large">{{video.videodescription}}</p>
				</div><!-- close .movie-details-section -->

				
			</div><!-- close .dashboard-container -->
		</main>
{% endblock %}
