{% extends 'base.html.twig' %}

{% block title %}{{video.videotitle }}{% endblock %}
{% block body %}
<div id="content-sidebar-pro" class="d-none d-md-block video-suggestions">
	<div id="content-sidebar-image">
		<img src="{{asset('images/upload/' ~ video.videoimage)}}" alt="Movie Poster" class="videoimage">
	</div>

	<div class="content-sidebar-section">
		<h2 class="content-sidebar-sub-header adjusted-recent-reviews text-center"> Vidéos recommandées</h2>
		<ul id="sidebar-reviews-pro" class="text-center">
			{% for video in videos %}
			<li>
				<a href="{{path("movie", {"id" : video.id, "idcategory": video.category.id})}}">
					<h6 class="titlevideo">{{video.videotitle}}</h6>
					<img src="{{asset('images/upload/' ~ video.videoimage)}}" alt="Movie Poster"
					class="videosuggest class=img-responsive">
				</a>
			</li>
			{% endfor %}
		</ul>
	</div><!-- close .content-sidebar-section -->
</div><!-- close #content-sidebar-pro -->

<main id="col-main-with-sidebar">
	<section class="video-container" id="myDiv">
		{% include 'video/_videoplaylist.html.twig' %}
	</section>
	<div id="movie-detail-rating">
		<div class="dashboard-container">
					<div class="video-description-block">
						<div class="video-user-info">
							{% if video.username.imageuser %}
								<img src="{{asset('images/upload/' ~ video.username.imageuser.avatar)}}"
								class="rounded-circle user-video-avatar">
							{% endif %}
							<span class="text-size">
								<a href="{{path('channel', {'id': video.username.id})}}" class="link-color">{{video.username.username}}</a>
								| Followers: {{video.username.followers | length}}
							</span>
							<ul class="list-inline">
							
							{% if is_granted('ROLE_USER') and video.username != app.user %}
							<li class="list-inline-item">
								<a href="{{path('playlist', {'idvideo': video.id, 'id': app.user.id})}}" class="js-play">
									{% if app.user and video.isSelectedByUser(app.user) %}
									<button type="button" class="btn btn-small btn-secondary btn-width">
										<i class="fas fa-star"></i>
									</button>
									{% else %}
									<button type="button" class="btn btn-small btn-secondary btn-width">
										<i class="far fa-star"></i>
									</button>
									{% endif %}
								</a>
								</li>
	
								<li class="list-inline-item">
								<a href="{{path('video_like', {'id': video.id})}}" class="js-like">
									{% if app.user and video.isLikedByUser(app.user) %}
									<button type="button" class="btn btn-small btn-secondary">
										<i class="fas fa-thumbs-up"></i>
										<span class="js-likes">{{video.videoLikes | length}}</span>
									</button>
									{% else %}
									<button type="button" class="btn btn-small btn-secondary">
										<i class="far fa-thumbs-up"></i>
										<span class="js-likes">{{video.videoLikes | length}}</span>
									</button>
									{% endif %}
								</a>
								</li>
							<li class="list-inline-item">
							{% set isFollowed = video.username.followers.contains(app.user) %}
							<button style="display: {% if not isFollowed %}block{% else %}none{% endif %}"
								class="btn btn-sm btn-primary button_follow" id="follow">
								<i class="fas fa-link"></i>
							</button>
							<button style="display: {% if isFollowed %}block{% else %}none{% endif %}"
								class="btn btn-sm btn-primary button_follow" id="unfollow">
								<i class="fas fa-unlink"></i>
							</button>
							</li>
							{% endif %}
							<li class="list-inline-item">
								<a href="{{path("second_player", {"id" : video.id, "idcategory" : video.category.id})}}">
									<button class="btn btn-primary btn-xs-small">S</button>
								</a>
							</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!-- close .row -->

		<div class="dashboard-container section-video-description">
		<div class="movie-details-section">
			<p class="videoname">{{video.videotitle}}</p>
			<strong>
				<p class="video-data">
					Categorie : {{video.category.categoryName}} - Date de publication :
					{{video.publicationdate|date("d/m/y")}} - Nombre de vues : {{video.views}}
				</p>
			</strong>
			<div class="video-buttons-section">
				<ul class="list-inline">
					<li class="list-inline-item">
						<a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000/{{path('partage', {'id' : video.id})}}&t={{video.videotitle}}"
							class="share facebook" data-network="facebook" target="_blank">
							<img src="{{asset('images/icones/facebook-icon.png')}}">
						</a>
					</li>
					<li class="list-inline-item">
						<a href="https://twitter.com/share?url=http://127.0.0.1:8000/{{path('partage', {'id' : video.id})}}&text={{video.videotitle}}"
							class="share twitter" data-network="twitter" target="_blank">
							<img src="{{asset('images/icones/twitter-icon.png')}}">
						</a>
					</li>
					<li class="list-inline-item">
						<a href="https://www.linkedin.com/shareArticle?mini=true&url=http://127.0.0.1:8000/{{path('partage', {'id' : video.id})}}&title={{video.videotitle}}&source=mylion"
							class="share linkedin" data-network="linkedin" target="_blank">
							<img src="{{asset('images/icones/linkedin.png')}}">
						</a>
					</li>
					<li class="list-inline-item">
						<a href="http://pinterest.com/pin/create/button/?url={{path('partage', {'id' : video.id})}}&description={{video.videotitle}}"
							target="_blank">
							<img src="{{asset('images/icones/pinterest-icon.png')}}">
						</a>
					</li>
				</ul>
			</div>
			<h2>Description</h2>
			<p class="video-description">{{video.videodescription | nl2br }}</p>
		</div>

		<div class="movie-details-section videos-section">
			{% if user_videos != null %}
			{% if newvideos != null %}
				<h2>Voir aussi</h2>
			{% endif %}
			{% endif %}
			<div class="row">
				{% if user_videos is null %}
				{% for video in newvideos %}
				{% if video.privacy == "public" %}
				<div class="col-12 col-md-6 col-sm-6 col-lg-6 col-xl-4">
					<div class="item-listing-container-skrn video-card video-card-text">
						<a href="{{path("movie", {"id" : video.id, "idcategory": video.category.id})}}">
							<img src="{{asset('images/upload/' ~ video.videoimage)}}" alt="Movie Poster"
							class="img-responsive imagemovie">
						</a>
						<div class="item-listing-text-skrn">
							<div class="item-listing-text-skrn-vertical-align">
								<p class="video_icone_title">
									<a href="{{path("movie", {"id" : video.id, "idcategory" : video.category.id})}}">
										{{video.videotitle}}
									</a>
								</p>
								<div class="avatar-position">
									{% if video.username.imageuser %}
										<img src="{{asset('images/upload/' ~ video.username.imageuser.avatar)}}"
										class="rounded-circle avatar-height" id="width-avatar">
									{% endif %}
									<a href="{{path('channel', {'id': video.username.id})}}" class="link-color">
										{{video.username.username}}
									</a> |
									{% if video.views is not null %}
									Vues : {{video.views}}
									{% else %}
									Aucune vue
									{% endif %}
								</div>
							</div><!-- close .item-listing-text-skrn-vertical-align -->
						</div><!-- close .item-listing-text-skrn -->
					</div><!-- close .item-listing-container-skrn -->
				</div><!-- close .col -->
				{% endif %}
				{% endfor %}
				{% else %}
				{% for video in user_videos %}
				{% if video.privacy == "public" %}
				<div class="col-12 col-md-6 col-sm-6 col-lg-6 col-xl-4">
					<div class="item-listing-container-skrn video-card video-card-text">
						<a href="{{path("movie", {"id" : video.id, "idcategory": video.category.id})}}">
							<img src="{{asset('images/upload/' ~ video.videoimage)}}" alt="Movie Poster"
							class="img-responsive imagemovie">
						</a>
						<div class="item-listing-text-skrn">
							<div class="item-listing-text-skrn-vertical-align">
								<p class="video_icone_title">
									<a href="{{path("movie", {"id" : video.id, "idcategory" : video.category.id})}}">
										{{video.videotitle}}
									</a>
								</p>
								<div class="avatar-position">
									{% if video.username.imageuser %}
										<img src="{{asset('images/upload/' ~ video.username.imageuser.avatar)}}"
										class="rounded-circle avatar-height" id="width-avatar">
									{% endif %}
									<a href="{{path('second_player', {'id': video.username.id, 'idcategory' : video.category.id})}}"
									class="color-link">
										{{video.username.username}}
									</a> |
									{% if video.views is not null %}
									Vues : {{video.views}}
									{% else %}
									Aucune vue
									{% endif %}
								</div>
							</div><!-- close .item-listing-text-skrn-vertical-align -->
						</div><!-- close .item-listing-text-skrn -->
					</div><!-- close .item-listing-container-skrn -->
				</div><!-- close .col -->
				{% endif %}
				{% endfor %}
				{% endif %}
			</div><!-- close .row -->
		</div><!-- close .movie-details-section -->
	</div><!-- close .dashboard-container -->
</main>
{% endblock %}
{% block javascripts %}
{{parent()}}
<script type="text/javascript">
	FWDUVPUtils.onReady(function () {
		new FWDUVPlayer({
			//main settings
			instanceName: "player{{video.id}}",
			parentId: "myDiv",
			playlistsId: "playlists",
			mainFolderPath: "{{asset('content')}}",
			skinPath: "{{asset('metal_skin_dark')}}",
			displayType: "responsive",
			initializeOnlyWhenVisible: "no",
			useVectorIcons: "no",
			fillEntireVideoScreen: "no",
			fillEntireposterScreen: "yes",
			goFullScreenOnButtonPlay: "no",
			playsinline: "yes",
			privateVideoPassword: "428c841430ea18a70f7b06525d4b748a",
			youtubeAPIKey: "",
			useHEXColorsForSkin: "no",
			normalHEXButtonsColor: "#FF0000",
			selectedHEXButtonsColor: "#000000",
			useDeepLinking: "yes",
			googleAnalyticsTrackingCode: "",
			useResumeOnPlay: "yes",
			showPreloader: "yes",
			preloaderBackgroundColor: "#000000",
			preloaderFillColor: "#FFFFFF",
			addKeyboardSupport: "yes",
			autoScale: "yes",
			showButtonsToolTip: "no",
			stopVideoWhenPlayComplete: "no",
			playAfterVideoStop: "yes",
			autoPlay: "no",
			autoPlayText: "Click To Unmute",
			loop: "no",
			shuffle: "no",
			showErrorInfo: "yes",
			maxWidth: 1400,
			maxHeight: 830,
			volume: .8,
			rewindTime: 10,
			buttonsToolTipHideDelay: 1.5,
			backgroundColor: "#eeeeee",
			videoBackgroundColor: "#000000",
			posterBackgroundColor: "#000000",
			buttonsToolTipFontColor: "black",
			//logo settings
			showLogo: "no",
			logoPath: "",
			hideLogoWithController: "no",
			logoPosition: "topRight",
			logoLink: "",
			logoPath: "",
			logoMargins: 10,
			//playlists/categories settings
			showPlaylistsSearchInput: "no",
			usePlaylistsSelectBox: "no",
			showPlaylistsButtonAndPlaylists: "no",
			showPlaylistsByDefault: "no",
			thumbnailSelectedType: "opacity",
			startAtPlaylist: 0,
			buttonsMargins: 15,
			thumbnailMaxWidth: 350,
			thumbnailMaxHeight: 350,
			horizontalSpaceBetweenThumbnails: 40,
			verticalSpaceBetweenThumbnails: 40,
			inputBackgroundColor: "#333333",
			inputColor: "#000000",
			//playlist settings
			showPlaylistButtonAndPlaylist: "no",
			playlistPosition: "right",
			showPlaylistByDefault: "no",
			showPlaylistName: "no",
			showSearchInput: "no",
			showLoopButton: "yes",
			showShuffleButton: "yes",
			showPlaylistOnFullScreen: "no",
			showNextAndPrevButtons: "yes",
			showThumbnail: "yes",
			showOnlyThumbnail: "no",
			forceDisableDownloadButtonForFolder: "yes",
			addMouseWheelSupport: "yes",
			startAtRandomVideo: "no",
			stopAfterLastVideoHasPlayed: "no",
			addScrollOnMouseMove: "no",
			randomizePlaylist: 'no',
			folderVideoLabel: "VIDEO ",
			playlistRightWidth: 310,
			playlistBottomHeight: 380,
			startAtVideo: 0,
			maxPlaylistItems: 50,
			thumbnailWidth: 71,
			thumbnailHeight: 71,
			spaceBetweenControllerAndPlaylist: 1,
			spaceBetweenThumbnails: 1,
			scrollbarOffestWidth: 8,
			scollbarSpeedSensitivity: .5,
			playlistBackgroundColor: "#eeeeee",
			playlistNameColor: "#000000",
			thumbnailNormalBackgroundColor: "#ffffff",
			thumbnailHoverBackgroundColor: "#eeeeee",
			thumbnailDisabledBackgroundColor: "#eeeeee",
			searchInputBackgroundColor: "#F3F3F3",
			searchInputColor: "#888888",
			youtubeAndFolderVideoTitleColor: "#000000",
			folderAudioSecondTitleColor: "#999999",
			youtubeOwnerColor: "#777777",
			youtubeDescriptionColor: "#777777",
			mainSelectorBackgroundSelectedColor: "#000000",
			mainSelectorTextNormalColor: "#000000",
			mainSelectorTextSelectedColor: "#FFFFFFF",
			mainButtonBackgroundNormalColor: "#FFFFFF",
			mainButtonBackgroundSelectedColor: "#000000",
			mainButtonTextNormalColor: "#000000",
			mainButtonTextSelectedColor: "#FFFFFF",
			//controller settings
			showController: "yes",
			showControllerWhenVideoIsStopped: "yes",
			showNextAndPrevButtonsInController: "yes",
			showRewindButton: "yes",
			showPlaybackRateButton: "yes",
			showVolumeButton: "yes",
			showTime: "yes",
			showInfoButton: "no",
			showDownloadButton: "yes",
			showShareButton: "no",
			showEmbedButton: "no",
			showChromecastButton: "yes",
			showFullScreenButton: "yes",
			disableVideoScrubber: "no",
			showScrubberWhenControllerIsHidden: "yes",
			showMainScrubberToolTipLabel: "no",
			repeatBackground: "no",
			controllerHeight: 42,
			controllerHideDelay: 3,
			startSpaceBetweenButtons: 7,
			spaceBetweenButtons: 8,
			scrubbersOffsetWidth: 2,
			mainScrubberOffestTop: 14,
			timeOffsetLeftWidth: 5,
			timeOffsetRightWidth: 3,
			timeOffsetTop: 0,
			volumeScrubberHeight: 80,
			volumeScrubberOfsetHeight: 12,
			timeColor: "#FFFFFF",
			youtubeQualityButtonNormalColor: "#494949",
			youtubeQualityButtonSelectedColor: "#FFFFFF",
			scrubbersToolTipLabelBackgroundColor: "#494949",
			scrubbersToolTipLabelFontColor: "black",
			//advertisement on pause window
			aopwTitle: "Advertisement",
			aopwWidth: 400,
			aopwHeight: 240,
			aopwBorderSize: 6,
			aopwTitleColor: "#000000",
			//subtitle
			subtitlesOffLabel: "Subtitle off",
			//popup add windows
			showPopupAdsCloseButton: "yes",
			//embed window and info window
			embedAndInfoWindowCloseButtonMargins: 15,
			borderColor: "#CDCDCD",
			mainLabelsColor: "#000000",
			secondaryLabelsColor: "#494949",
			shareAndEmbedTextColor: "#777777",
			inputBackgroundColor: "#b2b2b2",
			inputColor: "#333333",
			//login
			playIfLoggedIn: "no",
			playIfLoggedInMessage: "",
			//audio visualizer
			audioVisualizerLinesColor: "#0099FF",
			audioVisualizerCircleColor: "#FFFFFF",
			//lightbox settings
			closeLightBoxWhenPlayComplete: "no",
			lightBoxBackgroundOpacity: .6,
			lightBoxBackgroundColor: "#000000",
			//sticky on scroll
			stickyOnScroll: "yes",
			stickyOnScrollShowOpener: "yes",
			stickyOnScrollWidth: "700",
			stickyOnScrollHeight: "394",
			//sticky display settings
			showOpener: "yes",
			showOpenerPlayPauseButton: "yes",
			verticalPosition: "bottom",
			horizontalPosition: "center",
			showPlayerByDefault: "yes",
			animatePlayer: "yes",
			openerAlignment: "right",
			mainBackgroundImagePath: "{{asset('content/minimal_skin_dark/main-background.png')}}",
			openerEqulizerOffsetTop: -1,
			openerEqulizerOffsetLeft: 3,
			offsetX: 0,
			offsetY: 0,
			//playback rate / speed
			defaultPlaybackRate: 1, //0.25, 0.5, 1, 1.25, 1.2, 2
			//cuepoints
			executeCuepointsOnlyOnce: "no",
			//annotations
			showAnnotationsPositionTool: "no",
			//ads
			openNewPageAtTheEndOfTheAds: "no",
			adsButtonsPosition: "left",
			skipToVideoText: "",
			skipToVideoButtonText: "Skip Ad",
			adsTextNormalColor: "#FFFFFF",
			adsTextSelectedColor: "#494949",
			adsBorderNormalColor: "#BBBBBB",
			adsBorderSelectedColor: "#494949",
			//a to b loop
			useAToB: "yes",
			atbTimeBackgroundColor: "transparent",
			atbTimeTextColorNormal: "#888888",
			atbTimeTextColorSelected: "#000000",
			atbButtonTextNormalColor: "#FFFFFF",
			atbButtonTextSelectedColor: "#FFFFFF",
			atbButtonBackgroundNormalColor: "#888888",
			atbButtonBackgroundSelectedColor: "#000000",
			//thumbnails preview
			thumbnailsPreviewWidth: 196,
			thumbnailsPreviewHeight: 110,
			thumbnailsPreviewBackgroundColor: "#000000",
			thumbnailsPreviewBorderColor: "#666",
			thumbnailsPreviewLabelBackgroundColor: "#666",
			thumbnailsPreviewLabelFontColor: "#FFF",
			// context menu
			showContextmenu: 'no',
			showScriptDeveloper: "no",
			contextMenuBackgroundColor: "#ebebeb",
			contextMenuBorderColor: "#ebebeb",
			contextMenuSpacerColor: "#CCC",
			contextMenuItemNormalColor: "#666666",
			contextMenuItemSelectedColor: "#000",
			contextMenuItemDisabledColor: "#AAA"
		});
	});
</script>
<script>
	var followButton = document.getElementById('follow');
	var unfollowButton = document.getElementById('unfollow');

	addOnClick(
		followButton,
		unfollowButton,
		'{{ path("following", {"id":video.username.id})}}'

	);

	addOnClick(
		unfollowButton,
		followButton,
		'{{ path("unfollowing", {"id":video.username.id})}}'

	);

	function switchButtons(button, oppositeButton) {
		button.disabled = false;
		button.style.display = 'none';
		oppositeButton.style.display = 'block';
	}

	function addOnClick(button, oppositeButton, path) {

		button.addEventListener('click', function (event) {
			button.disabled = true;

			fetch(path, {
				'credentials': 'include'
			}).then(function () {


				switchButtons(button, oppositeButton);

			}).catch(function () {

				switchButtons(button, oppositeButton);


			});

			event.preventDefault();
		});
	}
</script>
{% endblock %}