{% for video in videos | slice(start, 20) %}
<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
    <div class="item-listing-container-skrn video-card">
        <a href="{{path("movie", {"id" : video.id, "idcategory" : video.category.id})}}"><img
                src="{{asset('images/upload/' ~ video.videoimage)}}" alt="Listing"
                class="imagemovie img-responsive"></a>
        <div class="item-listing-text-skrn">
            <div class="item-listing-text-skrn-vertical-align">
                <h6><a
                        href="{{path("movie", {"id" : video.id, "idcategory" : video.category.id})}}">{{video.videotitle}}</a>
                </h6>
            </div><!-- close .item-listing-text-skrn-vertical-align -->
        </div><!-- close .item-listing-text-skrn -->
        <div>
            <a href="{{path('update_video_image', {'id': video.id})}}"><button
                    class="btn btn-primary btn-sm btn_update"><i class="fas fa-image fa-2x"></i></button></a>
            <a href="{{path('delete_video', {'id': video.id})}}"><button class="btn btn-primary btn-sm btn_delete"><i
                        class="fas fa-trash-alt fa-2x"></i></button></a>
            <a href="{{path('update_video_description', {'id': video.id})}}"><button
                    class="btn btn-primary btn-sm btn_delete"><i class="far fa-edit fa-2x"></i></button></a>
        </div>
    </div><!-- close .item-listing-container-skrn -->
</div><!-- close .col -->
{% endfor %}