<div id="content-sidebar-pro" class="block-suggestion">
			
    <div id="content-sidebar-info" class="d-none d-md-block">
        {% if avatars %}
        {% for avatar in avatars %}
            <img src="{{asset('images/upload/' ~ avatar.avatar)}}" alt="avatar" class="avatar-image">
        {% endfor %}
        {% else  %}
            <img src="{{asset('images/avatar/image_profile_default.png')}}" alt="avatar" class="avatar-image">
        {% endif %}
        <div id="profile-sidebar-name">
            <h5>{{app.user.username}}</h5>
        </div>
        <div id="profile-sidebar-gradient"></div>
        {% if avatars %}
            {% for avatar in avatars %}
            <a href="{{path('update_image', {'id' : avatar.id})}}" class="edit-profile-sidebar"><i class="fas fa-pencil-alt"></i></a>
            {% endfor %}
        {% else %}
            <a href="{{path('avatar_update')}}" class="edit-profile-sidebar"><i class="fas fa-pencil-alt"></i></a>
        {% endif %}
    </div>
    
</div><!-- close #content-sidebar-pro -->

<main id="col-main-with-sidebar">
    
    <div class="dashboard-container">
        <ul class="dashboard-sub-menu">
            {% if current_user_videos %}
                <li><a href="{{path('user_videos')}}"><span class="link">Vos vidéos</span></a></li>
            {% else %}
                <li><a href="{{path('addvideo')}}"><span class="link"><button class="btn btn-primary">Ajoutez vidéo</button></span></a></li>
            {% endif %}
            <li><a href="{{path('user_playlist')}}"><span class="link">Playlist</span></a></li>
            <li><a href="{{path('user_channels')}}"><span class="link">Chaines</span></a></li>
            <li><a href="{{path('user_video_channels')}}"><span class="link">Abonnements</span></a></li>
            <li><a href="{{path('user_dashboard', {'id' : app.user.id})}}"><span class="link">A propos</span></a></li>
        </ul><!-- close .dashboard-sub-menu -->

        <div id="content-sidebar-info" class="d-md-none">
            {% if avatars %}
            {% for avatar in avatars %}
                <img src="{{asset('images/upload/' ~ avatar.avatar)}}" alt="avatar" class="avatar-image">
            {% endfor %}
            {% else  %}
                <img src="{{asset('images/avatar/image_profile_default.png')}}" alt="avatar" class="avatar-image">
            {% endif %}
            <div id="profile-sidebar-name">
                <h5>{{app.user.username}}</h5>
            </div>
            <div id="profile-sidebar-gradient"></div>
            {% if avatars %}
                {% for avatar in avatars %}
                <a href="{{path('update_image', {'id' : avatar.id})}}" class="edit-profile-sidebar"><i class="fas fa-pencil-alt"></i></a>
                {% endfor %}
            {% else %}
                <a href="{{path('avatar_update')}}" class="edit-profile-sidebar"><i class="fas fa-pencil-alt"></i></a>
            {% endif %}
        </div>