{% extends 'base.html.twig' %}

{% block title %}Vos chaînes.{% endblock %}

{% block body %}

{{ render(controller('App\\Controller\\UserController::userProfile'))}}

<h6>Vos chaines.</h6>

<div class="row" id="userchannels">
    {% for followed in user.following | slice(0, 20) %}
    {% for avatar in avatars %}
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-4">
        <div class="item-listing-container-skrn video-card video-card-text">
            <a href="{{path('channel', {'id': followed.id})}}"><img src="{{asset('images/upload/' ~ avatar.avatar)}}"
                    alt="Listing" class="imagemovie"></a>
            <div class="item-listing-text-skrn">
                <div class="item-listing-text-skrn-vertical-align">
                    <h6><a href="{{path('channel', {'id': followed.id})}}">{{followed.username}}</a></h6>
                    <div>
                        <img src="{{asset('images/upload/' ~ followed.imageuser.avatar)}}" class="rounded-circle avatar-height" id="width-avatar">
                    </div>
                </div><!-- close .item-listing-text-skrn-vertical-align -->
            </div><!-- close .item-listing-text-skrn -->
        </div><!-- close .item-listing-container-skrn -->
    </div><!-- close .col -->
    {% endfor %}
    {% endfor %}
</div><!-- close .row -->

<div class="pagination">
    <div class="navigation">
        <button class="btn btn-primary" id="loadMoreUserChannels">Load more</button>
    </div>
</div>

</div><!-- close .dashboard-container -->
</main>
{% endblock %}

{% block javascripts %}
{{ parent()}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	click = 0;
	function loadMoreUserChannels(event) {
		event.preventDefault();
		click++;
		var start = 20 * click;
		const url = "{{path('loadMoreUserChannels')}}/" + start;
		axios.get(url).then(function (response) {
			$("#userchannels").append(response.data);
		}).catch(function (error) {
			if (response.status === 403) {
				window.alert("You are not authorized to perform this action!");
			} else if (response.status === 404) {
				window.alert("This page does not exist");
			} else {
				window.alert("An error has occurred !");
			}
		});
	}
	document.getElementById("loadMoreUserChannels").addEventListener("click", loadMoreUserChannels);
</script>
{% endblock %}
