{% extends 'base.html.twig' %}

{% block title %}Vos chaînes.{% endblock %}

{% block body %}

{{ render(controller('App\\Controller\\UserController::userProfile'))}}

<h6>Vos chaines.</h6>

{% set numberFollowing = user.following | length %}
<div class="row" id="userchannels">
    {% if numberFollowing != 0 %}
    {% for followed in user.following | slice(0, 20) %}
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-4">
        <div class="item-listing-container-skrn video-card video-card-text">
            {% for avatar in avatars %}
            {% if avatar %}
            <a href="{{path('channel', {'id': followed.id})}}">
                <img src="{{asset('images/upload/' ~ avatar.avatar)}}"
                alt="Listing" class="imagemovie">
            </a>
            {% endif %}
            {% endfor %}
            <div class="item-listing-text-skrn">
                <div class="item-listing-text-skrn-vertical-align">
                    <h6><a href="{{path('channel', {'id': followed.id})}}">{{followed.username}}</a></h6>
                    {% for avatar in avatars %}
                    {% if avatar %}
                    <div>
                        <img src="{{asset('images/upload/' ~ followed.imageuser.avatar)}}"
                        class="rounded-circle avatar-height" id="width-avatar">
                    </div>
                    {% endif %}
                    {% endfor %}
                </div><!-- close .item-listing-text-skrn-vertical-align -->
            </div><!-- close .item-listing-text-skrn -->
        </div><!-- close .item-listing-container-skrn -->
    </div><!-- close .col -->
    {% endfor %}
    {% else %}
    <h5>Vous n'êtes abonné à aucune chaine pour le moment.</h5>
    {% endif %}
</div><!-- close .row -->


{% if numberFollowing > loadMoreStart %}
<div class="pagination">
    <div class="navigation" id="loadbutton">
        <button class="btn btn-primary" id="loadMoreUserChannels">Load more</button>
    </div>
</div>
{% endif %}

</div><!-- close .dashboard-container -->
</main>
{% endblock %}

{% block javascripts %}
{{ parent()}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    click = 0;

    function loadMoreUserChannels(event) {
        event.preventDefault();
        click++;
        var start = 20 * click;
        const url = "{{path('loadMoreUserChannels')}}/" + start;
        axios.get(url).then(function (response) {
            $("#userchannels").append(response.data);
            if (!response.data) {

                let loadButton = document.getElementById("loadbutton");
                loadButton.textContent = 'Plus aucune chaine à afficher';

            }
        }).catch(function (error) {
            if (response.status === 403) {
                window.alert("You are not authorized to perform this action!");
            } else if (response.status === 404) {
                window.alert("This page does not exist");
            } else {
                window.alert("An error has occurred !");
            }
        });
    }
    document.getElementById("loadMoreUserChannels").addEventListener("click", loadMoreUserChannels);
</script>
{% endblock %}
