{% extends 'base.html.twig' %}

{% block title %}Votre compte{% endblock %}

{% block body %}

	
<main id="col-main">
			
    <div class="dashboard-container">
        
        <ul class="dashboard-sub-menu">
            <li><a href="{{path('user_account', {'id' : app.user.id })}}"><button type="submit" class="btn btn-primary">Paramètres du compte</button></a></li>
            <form method="POST" action="/create-customer-portal-session" style="position:absolute;left:450px;top:125px;">
                <button type="submit" class="btn btn-primary">Gestion de la facturation</button>
            </form>
        </ul><!-- close .dashboard-sub-menu -->
        
        <div class="container-fluid">
            <div class="row">
            
                <div class="col-12  col-lg-3">
                    <div id="account-edit-photo">
                        {% if avatars %}
                        {% for avatar in avatars %}
                            <div><img src="{{asset('images/upload/' ~ avatar.avatar)}}" alt="avatar" class="avatar-account"></div>
                            <p><a href="{{path('update_image', {'id' : avatar.id})}}" class="btn btn-green-pro">Modifiez votre avatar</a></p>
                        {% endfor %}
                        {% else  %}
                            <div><img src="{{asset('images/avatar/image_profile_default.png')}}" alt="avatar" class="avatar-account"></div>
                        {% endif %}
                        <a href="{{path('account_delete', {'id': app.user.id})}}" class="btn btn-primary" style="margin-top:15px;color:white;background-color:red">Supprimer votre compte</a>
                    </div>
                </div><!-- close .col -->
                <div class="col">
                    {{form_start(form)}}
                    <form class="account-settings-form">
                
                    <h5>Nom d'utilisateur</h5>
                    <p class="small-paragraph-spacing">Vous pouvez mettre à jour votre nom d'utilisateur.</p>
                    <div class="row">
                        <div class="col-sm">
                              <div class="form-group">
                                <label for="first-name" class="col-form-label">Nom d'utilisateur:</label>
                                {{form_row(form.username, {
                                    "attr" : {
                                        "class":"form-label form-control"
                                    },
                                    "label" : "Modifiez votre pseudo"
                                })}}
                              </div>
                        </div><!-- close .col -->
                    </div><!-- close .row -->
                    <hr>
                
                    <h5>Adresse email</h5>
                    <p class="small-paragraph-spacing">Vous pouvez mettre à jour votre adresse email ici.</p>
                    
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="e-mail" class="col-form-label">E-mail</label>
                                {{form_row(form.email, {
                                    "attr" : {
                                            "class":"form-label form-control"
                                        },
                                    "label" : "Votre email"
                                })}}
                            </div>
                        </div><!-- close .col -->
                    </div><!-- close .row -->
                    
                    <hr>
                    <h5>Mot de passe.</h5>
                    <p class="small-paragraph-spacing">Veuillez ajouter deux mots de passe identiques.</p>
                    <div class="row">
                        <div class="col-sm">
                              <div class="form-group">
                                {{form_row(form.password, {
                                    "attr" : {
                                            "class":"form-label form-control"
                                        },
                                    "label" : "Modifiez votre mot de passe"
                                })}}
                              </div>
                        </div><!-- close .col -->
                        <div class="col-sm">
                            <div class="form-group">
                                {{form_row(form.confirmPassword, {
                                    "attr" : {
                                            "class":"form-label form-control"
                                        },
                                    "label" : "Confirmez le nouveau mot de passe"
                                })}}
                            </div>
                        </div><!-- close .col -->
                    </div><!-- close .row -->
                    
                    {{form_widget(form)}}
                    <input class="btn btn-primary button-account" type="submit" value="Mettre à jour">
                    </form>
                    {{form_end(form)}}
                </div><!-- close .col -->
            
            </div><!-- close .row -->
        </div><!-- close .container-fluid -->
    </div><!-- close .dashboard-container -->
</main>
{% endblock %}