{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block body %}

{{ render(controller('App\\Controller\\UserController::userProfile'))}}

        
        <div class="row">
            {% for playlist in playlists %}
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
              <div class="item-listing-container-skrn" style="text-overflow: ellipsis;overflow:hidden">
                    <a href="{{path("movie", {"id" : playlist.video.id, "idcategory" : playlist.video.category.id})}}"><img src="{{asset('images/upload/' ~ playlist.video.videoimage)}}" alt="Listing" class="imagemovie"></a>
                    <div class="item-listing-text-skrn">
                        <div class="item-listing-text-skrn-vertical-align">
                          <h6 style="width:300px;text-overflow:ellipsis;padding: 2px 5px;white-space: nowrap;overflow: hidden;"><a href="{{path("movie", {"id" : playlist.video.id, "idcategory" : playlist.video.category.id})}}">{{playlist.video.videotitle}}</a></h6>
                          <div style="float:left">
                            <img src="{{asset('images/upload/' ~ playlist.video.username.imageuser.avatar)}}" style="width:35px;height:35px;" class="rounded-circle">
									          {{playlist.video.username.username}} | {% if playlist.video.views is not null %} Vues : {{playlist.video.views}} {% else %} Aucune vue {% endif %}
                          </div>
                        </div><!-- close .item-listing-text-skrn-vertical-align -->
                    </div><!-- close .item-listing-text-skrn -->
                </div><!-- close .item-listing-container-skrn -->
            </div><!-- close .col -->
            {% endfor %}
          </div><!-- close .row -->
        
        <div class="pagination">
          <div class="navigation">
            {{ knp_pagination_render(playlists) }}
          </div>
        </div>
      </div><!-- close .dashboard-container -->
</main>

{% endblock %}